# Python
__pycache__/
*.py[cod]
*$py.class
.Python
venv/
ENV/
env/
.env
*.env

# Django
*.sqlite3
*.log
media/
staticfiles/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Python virtual environments
env/
venv/
ENV/

# Misc
*.swp
*.bak
